/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy {
  fill: black;
}

.hero {
  fill: green;
}

.update {
  fill: #333;
}

.exit {
  fill: brown;
}


.scoreboard{
	font-family: Helvetica;
	font-size: 1em;
	margin-left: 50%;
	margin-top: 50px;
}
